@import "tailwindcss";
@config "../tailwind.config.ts";

@keyframes spinnerDelay {
    from { opacity: 0; }
    to { opacity: 1; }
}

@custom-variant xl (@media (width >= 1400px));

body {
    @apply bg-stone-50;
    font-family: 'DM Sans', sans-serif;
}